build:release -c opt
build:release --copt=-g0
build:release --copt=-Os
build:release --linkopt=-Wl,--gc-sections
build:release --strip=always
build:debug -c dbg
build:debug --features=oso_prefix_is_pwd
build --incompatible_enable_cc_toolchain_resolution
build --action_env=BAZEL_CXXOPTS="-std=c++17"
common --enable_bzlmod
test --test_output=all
