**/__pycache__/
*.a
*.log
*.o
*.so
.clang-format
.devcontainer/
.dockerignore
.git
.github/
.gitignore
.prettierignore
.venv/
.vscode/
app.log
bazel-*
bazel-*/
bazel-out
build/
data/
dist/
migration_info.md
node_modules/
out/
package-lock.json
package.json
resolved_deps.py
site/
venv/
