**/__pycache__/
*.a
**/*.log
*.o
*.so
*.pyc
.git
.bazel/
bazel-bin/
bazel-out/
bazel-testlogs/
.venv/
.vscode/
bazel-*
data
bin
out
site/
venv/
# IDE files
.idea/
.aswb/
.clwb/
.ijwb/
.project
.settings
.classpath
.factorypath
.bazel.iml
user.bazelrc
# OS-specific files
.DS_Store
*~
.*.swp
# Build artifacts and caches
.cache/
.sass-cache
buildtools/
output/
production
**/gencode/*
# C# build artifacts
cs/labs/csharp/bin/
cs/labs/csharp/obj/
cs/labs/csharp/.vs/
agents/
inspect.json
*.pdf
node_modules
**/node_modules/**