on:
  schedule:
    - cron: "59 23 * * WED,SAT"
  pull_request:
    paths:
      - ".github/workflows/docker.yml"
      - "docker-compose.yml"
      - "Dockerfile"
      - "Dockerfile.*"
      - ".dockerignore"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker for up command
        run: make dbuild
